<div class="container">
  <h1>Public Recipes</h1>
  <% @recipes.each do |recipe| %>
    <div class="card mb-4 recipe-card mx-auto">
      <div class="card-body">
        <div class="rect d-flex justify-content-between">
          <div class="public-recipe-data">
            <h3 class="card-title"><%= link_to recipe.name, recipe_path(recipe) %></h3>
            <p> By: <%= recipe.user.name %> </p>
          </div>
          <div class="food-data">
            <p class="card-text description-text">Total food items:</p>
            <p class="card-text description-text">Total price:</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>