<div class="recipe-show-container">
  <div>
    <%= render partial: 'recipe_details' %>
  </div>
  <div>
    <%= render partial: 'food_table', locals: { foods: @foods, current_user: current_user } %>
  </div>
</div>
