<h1>Welcome to Ometman-Yusef Recipe App</h1>
<p>Login or Register here to use</p>
<nav class="auth-links">
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'auth-link' %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'auth-link' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'auth-link' %>
  <% end %>
</nav>