<h1>Welcome to Ometman-Yusef Recipe App</h1>
<p>Login or Register here to use</p>
<div class="">
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
<div>

