.food-form-container {
  display: block;
  width: 100%;
  text-align: center;
  background: white;
}

.food-table,
.btn-container {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 2%;
}

.btn-container {
  text-align: right;
}

.food-table th,
.food-table td {
  border: 1px solid #dee2e6;
  padding: 1% 2%;
}

.food-table-head th {
  background-color: #f8f9fa;
}

.food-even-row {
  background-color: #f8f9fa;
}

.food-odd-row {
  background-color: #fff;
}

.food-table td:nth-child(1) { /* First column (Food) */
  width: 40%;
}

.food-table td:nth-child(2) { /* Second column (Measurement Unit) */
  width: 30%;
}

.food-table td:nth-child(3) { /* Third column (Unit Price) */
  width: 15%;
}

.food-table td:nth-child(4) { /* Fourth column (Actions) */
  width: 15%;
}

.new-food-btn {
  box-shadow: 4px 4px 6px #888;
  text-decoration: none;
  padding: 2px;
}

.button_to {
  background-color: red;
  color: #fff;
  border: none;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button_to:hover {
  background-color: red;
}
