.container {
  max-width: 960px;
}

.table {
  margin: auto;
  width: 100% !important;
}

.thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

#recipe_actions {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-right: 1rem;
  padding: 0.25rem;
  position: sticky;
  top: 0;
}

.ingredient-info {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-direction: row;
  font-size: 1em;
  color: #333;
}

.recipe-details-card {
  max-width: 960px;
  margin: auto;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.button-cell {
  width: 1%;
  white-space: nowrap;
}

.button-group {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  width: auto !important;
}

.button-group form {
  display: inline-block;
  margin: 0;
  align-items: end;
}

.remove-button {
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.new-ingredient-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.new-ingredient-form-group {
  margin-bottom: 15px;
}

.new-ingredient-form-control {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
}
