body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-top: 2em;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.auth-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;

  .auth-link {
    margin: 0 1em;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}