$primary-color: #007bff;
$secondary-color: #0056b3;
$error-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #333;
$border-color: #ddd;
$alt-color: #6c757d;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $light-color;
  color: $dark-color;
  height: 100vh;
  line-height: 1.7;
}

h1,
h2 {
  text-align: center;
  color: $dark-color;
  margin-top: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.125em;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.auth-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;

  .auth-link {
    margin: 0 1em;
    padding: 0.5em 1em;
    color: #fff;
    background-color: $primary-color;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

.auth-link-alt {
  display: block;
  color: $primary-color;
  text-decoration: none;
  margin: 0.1em auto;
  text-align: center;
  font-size: 1.3em;
  box-shadow: none;

  &:hover {
    text-decoration: underline;
    color: darken($primary-color, 10%);
  }
}

.auth-button-alt {
  display: block;
  margin: 0.1em auto;
  padding: 0.1em 1em;
  color: $primary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3em;
  box-shadow: none;

  &:hover {
    text-decoration: underline;
    color: darken($primary-color, 10%);
  }
}

form {
  max-width: 500px;
  max-height: 75vh; /* Set maximum height to 80% of the viewport height */
  margin: 0 auto;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Add scroll if content exceeds max-height */
}

label {
  display: block;
  margin-bottom: 0.01em; /* Reduce margin */
  color: $dark-color;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 0.01em; /* Reduce padding */
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 0.775em; /* Reduce font size */
  margin-bottom: 0.01em; /* Further reduce margin */

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

.field_with_errors {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-color: $error-color;
  }
}

.error-message {
  color: $error-color;
  font-size: 0.75em; /* Reduce font size */
  margin-top: -0.375em; /* Reduce margin */
  margin-bottom: 0.5em; /* Reduce margin */
}

.actions {
  display: flex;
  justify-content: center;

  input[type="submit"] {
    margin-top: 0.25em; /* Reduce margin */
    padding: 0.25em 0.5em; /* Reduce padding */
    color: #fff;
    font-size: 1.25rem; /* Reduce font size */
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.auth-links-container {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.auth-link-item {
  color: #333;

  a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600; // make the link text bold
    padding: 2px; // add some padding
    border-bottom: 2px solid #3498db; // add a bottom border

    &:hover {
      color: darken(#3498db, 10%);
      border-bottom: 2px solid darken(#3498db, 10%); // darken the border on hover
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: darken(#3498db, 10%);
    }
  }
}

.recipe-name {
  font-size: 20px;
  color: #007bff;

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  margin-right: 1em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

.navbar-nav .nav-item.active .nav-link {
  color: #ffc107;
}

.navbar-nav {
  margin-right: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  flex-direction: row;
  list-style-type: none;
}

.custom-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 800px;
  padding: 20px;
  margin: 1rem auto;
}

.rect {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4em;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  min-height: 48px;
  max-width: 500px;
}

.btn-danger {
  margin-top: 20px;
}

.custom-btn {
  margin-left: 20%;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #004085;
  }
}

.recipe-details-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 950px;
  padding: 10px;
  margin: 1rem auto;
}

.paragraph {
  padding-left: 0;
  align-items: start;
  max-width: 400px;
}

.pubic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4em;
  width: 100%;
  margin-left: 30px;
  padding: 2em;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group .form-control {
  width: 96%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btnn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btnn-primary:hover {
  background-color: #0056b3;
}

.auth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 20%;
  padding: 2em;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}

.home-auth-link {
  text-decoration: none;
}

.mb-3.form-check {
  display: flex;
  align-items: center;

  .form-check-label {
    margin-right: 10px;
  }
}

.back-link {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #004085;
  }
}

span {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: flex-start;
}
